.maincontainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.sideLeft{

}

.center{

}

.sideRight{

}

.sten1{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
}

.color{
    color:blue;
}